@model FinanceApp.Models.Expense

<div class="container">
	<h2>Add Expense</h2>
	<form asp-action="Create" method="post">
		<div>
			<label asp-for="Description" class="form-label"></label>
			<input asp-for="Description" class="form-control"/>

			<label asp-for="Amount" class="form-label"></label>
			<input asp-for="Amount" class="form-control" />

			<label asp-for="Category" class="form-label"></label>
			<input asp-for="Category" class="form-control" />

			<button type="submit" class="btn btn-primary">Add Expense</button>
		</div>
	</form>
</div>